/**
 * Copyright IBM Corp. 2023 - 2026
 * SPDX-License-Identifier: Apache-2.0
 */

@use '@carbon/react/scss/spacing' as *;
@use '@carbon/colors' as *;

.container {
  height: calc(100% - $spacing-09);
  padding: 0 $spacing-06;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messageList {
  overflow-y: auto;
}

.messageList * {
  overflow-anchor: none;
}

.anchor {
  overflow-anchor: auto;
  height: 1px;
}

.hint :global(.cds--inline-notification) {
  max-inline-size: unset;
}
