/**
 * Copyright IBM Corp. 2023 - 2026
 * SPDX-License-Identifier: Apache-2.0
 */

@use '@carbon/react/scss/spacing' as *;
@use '@carbon/colors' as *;
@use '../../styles/index' as common;

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  @include common.fade-in();
}

.conversationPanel {
  display: flex;
  flex-direction: column;
}

.experienceSettingsPanel {
  display: flex;
  overflow-y: auto;
  border-left: solid 1px var(--cds-border-strong-01);
}
