/**
 * Copyright IBM Corp. 2023 - 2026
 * SPDX-License-Identifier: Apache-2.0
 */

@use '@carbon/react/scss/spacing' as *;

.commentProvenance {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-02;
}

.commentProvenanceTag {
  max-width: 8rem;
}

.commentBox {
  padding-bottom: $spacing-03;
}

.reference {
  padding-bottom: $spacing-03;
}

.label {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.32px;
}
